* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: $background-color;
}

// Typography
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
body {
  color: $text-color;
  font-family: $font-family-main;
  font-size: $font-size;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  a {
    color: $text-color;
  }
}

// h1 {
//   font-size: 2.5em;
// }
// h2 {
//   font-size: 2em;
// }
// h3 {
//   font-size: 1.5em;
// }
// h4 {
//   font-size: 1.15em;
// }

h1 {
  font-size: calc(2.0em + 3.0vw) !important;
  font-weight: bold !important;
}

h2 {
  font-size: calc(1.5em + 1.0vw) !important;
  font-weight: 500 !important;
  margin-bottom: 1rem;
}

h3 {
  font-size: calc(1.17em + 0.75vw)  !important;
}

h4 {
  font-size: calc(1.0em + 0.5vw) !important;
}

blockquote {
    border-left: 2px solid;
    padding: 1em 1em;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  table-layout:fixed;
  width:100%;
  word-wrap:break-word;
  @media (max-width: 1100px) {
    overflow-x: scroll;
    display: inline-block;
  }
}
td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}
table,
dl,
blockquote,
code,
kbd,
pre,
samp {
  margin: 1em 0;
}
pre {
  padding:1em;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 2em;
}
p, ol, ul, dl, .math-display {
  line-height: 1.5;
  margin-bottom: 1em;
}
.math-display {
  display: inline-block;
  width: 100%;
}
ol, ul {
  // list-style-position: inside;
  margin-left: 20px; 
}
hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}
a {
  color: $link-color;
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media
iframe, img, embed, object, video {
  max-width: 100%;
}
img[align=left] {
  margin-right: 3%;
}
img[align=right] {
  margin-left: 3%;
}

// Inline code styling
code.highlighter-rouge {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px; 
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.code-full { 
  overflow-x: auto;  
  width: 100%;

  img {
    min-width: 700px;
    width: 100%;
  }
}

// Code block styling
.highlight {
  margin: 0 0 16px 0;  
  font-size: 16px;

  @media (max-width: $screen-sm) { 
    font-size: small;
  }

  pre {
    max-height: 400px;
    margin: 0;
  }
}

// Image with caption 
.custom-figure {
  .title {
    // padding-bottom: 3px;
    color: black;
    text-align: left;
    font-size: larger;
    font-weight: bold;
  }

  .description {
    // padding-top: 3px;
    text-align: left;
    font-size: larger;
    font-weight: italic;
  }
}


// Style modal
.modal-anchor {
  white-space: pre;
  color: #dc322f;
  font-weight: bold;
  text-decoration: none !important;
}

.modal {
  
  .modal-content {
    background-color: #002b36;

    .modal-header.code {
      padding: 0px;
      border-bottom: 1px solid #586e75;

      .modal-title {
        padding: 16px;
        color: #586e75;
      }
    }

    .close {
      width: fit-content;
      margin-top: 0;
      margin-right: 0;
      padding: 3px 8px 16px 17px;

      .fa-times {
        color: #dc322f
      }
      
    }

    .modal-body.code {
      border: 1px solid rgba(0,0,1,.2);
      padding: 0;

      * {
        margin-top: 0;
        margin-bottom: 0;
      }

      pre {
        overflow-x: auto;
        overflow-y: auto;
      }
    }

    .modal-body {
    }

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}




